 <footer class="footer">
        <div class="foo-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-navigation">
                            <h4 class="widget-title">About Yacht</h4>
                            <div class="widget-content">
                                <p>Maecenas condimentum vitae lectus nec tristique sed quis est ac est elementum.</p>
                                <ul class="social-media">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                    <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-navigation">
                            <h4 class="widget-title">Quick Links</h4>
                            <ul>
                                <li><a href="#">Contact Searches</a></li>
                                <li><a href="#">Jobs and Vacancies</a></li>
                                <li><a href="#">University images</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-navigation">
                            <h4 class="widget-title">Need Help?</h4>
                            <ul>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Payment options</a></li>
                                <li><a href="#">Fees and Funding</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-navigation">
                            <h4 class="widget-title">Security Brand</h4>
                            <ul>
                                <li><a href="#">Privacy Statement</a></li>
                                <li><a href="#">Report Copyright Infringement</a></li>
                                <li><a href="#">Report Security Issue</a></li>
                                <li><a href="#">Trademark Notice</a></li>
                                <li><a href="#">Access Control</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="foo-btm">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="copyright text-left el-sm-center">Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script> <i class="ti-heart"></i> <a href="#">themeies.com</a>. All rights reserved.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="payments-types text-right  el-sm-center">
                            <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="images/pay/visa.png"
                                        alt="visa" title="" data-original-title="Visa"></a></li>
                            <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="images/pay/discover.png"
                                        alt="discover" title="" data-original-title="Discover"></a></li>
                            <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="images/pay/paypal.png"
                                        alt="paypal" title="" data-original-title="PayPal"></a></li>
                            <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="images/pay/american.png"
                                        alt="american express" title="" data-original-title="American Express"></a></li>
                            <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="images/pay/mastercard.png"
                                        alt="Mastercard" title="" data-original-title="Mastercard"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>