
<body>
<div id="preloader">
        <div id="status"></div>
    </div>

    <div class="header-top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-info">
                        <p><i class="ti-mobile"></i><a href="tel:305-449-3301">305-449-3301</a></p>
                        <p><i class="ti-email"></i> <a href="mailto:office@mail.com">office@mail.com</a></p>
                    </div>
                </div>
                <div class="col-md-6 text-md-right">

                    
                    <div class="header-language">
                        <a href="#" class="langbtn">
                            <span>EN</span>
                            <i class="ti-angle-down"></i>
                        </a>
                        <ul class="list-unstyled dropdown-menu" style="display: none;">
                            <li class="active"><a href="#">EN</a></li>
                            <li><a href="#">FR</a></li>
                            <li><a href="#">PT</a></li>
                            <li><a href="#">IT</a></li>
                        </ul>
                    </div> 
                    <ul class="login-area">
                        <li><a href="/Login" class="login"><i class="ti-power-off"></i> Login</a></li>
                        <li><a href="/Signup" class="rsgiter"><i class="ti-plus"></i> Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
     <header class="header">
       
        <nav class="">
            <div class="nav-header">
                <a href="/" class="brand"><!--<i class="ti-eraser">Probill</i>--><img src='images/logo.png' style="height:35px !important;"><span></span></a>
                <button class="toggle-bar"><span class="fa fa-bars"></span></button>
            </div>
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                   
                </li>
                <li><a href="/About">About</a></li>
                <li class="dropdown">
                    <a href="#">Bill & Recharge</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/Mobile"><i class="fas fa-mobile"></i>Mobile</a>
                          
                        </li>
                        <li>
                            <a href="/DTH"><i class="fas fa-network-wired"></i>DTH</a>
                           
                        </li>
                        <li>
                            <a href="/Datacard"><i class="fas fa-credit-card"></i>Datacard</a>
                           
                        </li>
                        <li>
                            <a href="/Landline"><i class="fas fa-tty"></i>Landline</a>
                           
                        </li>
                        <li>
                            <a href="/Broadband"><i class="fas fa-broadcast-tower"></i>Broadband</a>
                           
                        </li>
                        <li>
                            <a href="/Electricity"><i class="fas fa-lightbulb"></i>Electricity</a>
                           
                        </li>
                        <li>
                            <a href="/Gas"><i class="fas fa-burn"></i>Gas</a>
                            
                        </li>
                        <li>
                            <a href="/Metro"><i class="fas fa-train"></i>Metro</a>
                            
                        </li>
                        <li>
                            <a href="/Water"><i class="fas fa-lightbulb"></i>Water</a>
                           
                        </li>
                        <!--<li>
                            <a href="google-pay.php"><i class="fab fa-google-play"></i>G Play</a>
                            
                        </li>
                        <li>
                            <a href="cable.php"><i class="fas fa-tv"></i>Cable</a>
                          
                        </li>
                        <li>
                            <a href="muncipality.php"><i class="fas fa-holly-berry"></i>Muncipality</a>
                          
                        </li>
                        <li>
                            <a href="emi.php"><i class="fas fa-hand-holding-usd"></i>EMI</a>
                            
                        </li>
                        <li>
                            <a href="challan.php"><i class="fab fa-accusoft"></i>Challan</a>
                           
                        </li>
                        <li>
                            <a href="housing.php"><i class="fas fa-building"></i>Housing</a>
                            
                        </li>-->
                    </ul>
                </li>
               <!-- <li class="dropdown">
                    <a href="#">Pages</a>
                    <ul class="dropdown-menu">
                        <li><a href="404.html">404</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="/Login">Login</a></li>
                        <li><a href="/Signup">Signup</a> </li>
                        <li><a href="/Profile">Profile</a> </li>
                        <li><a href="support.html">Support</a></li>
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                        <li><a href="terms-condition.html">Terms Condition</a></li>
                    </ul>
                </li>-->
               <!-- <li class="dropdown">
                    <a href="#">Blog</a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-details.html">Blog Details</a> </li>
                    </ul>
                </li>-->
                <li><a href="/Contact">Contact Us</a></li>
                <li class="dropdown profile">
                    <a href="#" class="profile-btn"><i class="fa fa-user"></i></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header bg-offwhite">
                            <div>
                                <h5 class="hidden-xs m-b-0 text-primary text-ellipsis">Jhon Due</h5>
                                <div class="small text-muted"><span>Membership ID P14362606</span></div>
                            </div>
                        </li>
                        <li class="nav__create-new-profile-link">
                            <a href="/Profile">
                                <span>View personal profile</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="nav__dropdown-menu-items">
                            <a href="/Profile_Notifications">
                                <i class="icon icon-setting"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                      
                        <li class="nav__dropdown-menu-items">
                            
   <a ><i class="icon icon-logout"></i><a href="/logout">Logout</a></a></li>
                        
                    </ul>
                </li>
            </ul>
            <ul class="text-right profile-rcv">
            </ul>
        </nav>
        
    </header>